* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6fb;
    padding-bottom: 40px;
}

/* Navbar */
.navbar {
    background: #081F5C;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

/* Header */
.header {
    padding: 30px;
    text-align: center;
}

.header h2 {
    margin-bottom: 20px;
}

/* Filter */
.filter-kat,
.filter-status {
    display: inline-block;
    margin: 0 10px;
    
}

/*label*/
.filter-kat label,
.filter-status label {
    margin-right: 6px;
    font-weight: bold;
}

/*select */
.filter-kat select,
.filter-status select {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Add button */
.header a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #081F5C;
}

/* Container */
.container {
    padding: 0 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Todo card */
.todo-card {
    padding: 15px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.todo-card.dark {
    background: #e6e9f5;
}

.todo-card h3 {
    margin-bottom: 8px;
}

.todo-card p {
    margin-bottom: 6px;
    font-size: 14px;
}

.todo-card a {
    text-decoration: none;
    color: #081F5C;
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}