*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body{
    background-color: antiquewhite;
    overflow: hidden;
}

main{
    padding-top: 1rem;
}